<div
  #cardContainer
  class="card-container"
  [ngClass]="cardType"
  [style.min-height]="
    cardType != 'trailer' && cardType != 'recommendation' ? '480px' : '300px'
  "
  [style.backdrop-filter]="isMenuOpen ? 'blur(20px)' : 'none'"
  (click)="
    cardType === 'default' ||
    cardType === 'recommendation' ||
    cardType === 'cast'
      ? navigate(movie.id)
      : null
  "
>
  <div
    class="img-container"
    [style.min-height]="
      cardType != 'trailer' && cardType != 'recommendation' ? '330px' : 'auto'
    "
    (click)="cardType === 'trailer' && onClickGetTrailer(movie.id)"
  >
    <img class="movie-img" [src]="imagePath" alt="" />
    <div *ngIf="cardType === 'default'" class="rating-percent-container">
      <app-movie-rating-circle
        [score]="movie?.vote_average"
      ></app-movie-rating-circle>
    </div>
    <div
      *ngIf="cardType === 'trailer' || cardType === 'default'"
      class="option-icon"
      (click)="handleOpenMenu($event)"
    >
      <img src="assets/icons/horizon-menu.svg" alt="" />
    </div>
    <div
      class="menu-container"
      [style.display]="isMenuOpen ? 'block' : 'none'"
      (click)="$event.stopPropagation()"
    >
      <ng-container *ngIf="isLoadingMovieState; else listMenu">
        <app-loading></app-loading>
      </ng-container>
      <ng-template #listMenu>
        <ul>
          <!-- <li class="menu-item">
            <a href=""><img src="assets/icons/star.svg" alt="" />Add to list</a>
          </li> -->
          <li class="menu-item" (click)="toggleFavorite($event)">
            <a href=""
              ><img
                [src]="
                  movieState?.favorite
                    ? 'assets/icons/heart-fill.svg'
                    : 'assets/icons/heart.svg'
                "
                alt=""
              />Favorite</a
            >
          </li>
          <li class="menu-item" (click)="toggleWatchlist($event)">
            <a href=""
              ><img
                [src]="
                  movieState?.watchlist
                    ? 'assets/icons/watch-list-fill.svg'
                    : 'assets/icons/watch-list.svg'
                "
                alt=""
              />Watchlist</a
            >
          </li>
          <!-- <li class="menu-item">
            <a href=""><img src="assets/icons/star.svg" alt="" />Your rating</a>
          </li> -->
        </ul>
      </ng-template>
    </div>
    <div *ngIf="cardType === 'trailer'" class="play-btn">
      <img src="assets/icons/play.svg" alt="" />
    </div>
    <div *ngIf="cardType === 'recommendation'" class="recommendation-info">
      <p>
        <img src="assets/icons/calendar.svg" alt="" />{{ movie.release_date }}
      </p>
    </div>
  </div>
  <div class="movie-info">
    <p class="movie-info__name">
      {{
        cardType !== "cast"
          ? movie.title
            ? movie.title
            : movie.name
          : movie.name
      }}
    </p>
    <p *ngIf="cardType === 'cast'" class="character-name">
      {{ movie.character }}
    </p>
    <p class="movie-info__date">
      {{ movie.release_date ? movie.release_date : movie.first_air_date }}
    </p>
  </div>
</div>
<app-trailer-modal
  [trailerKey]="trailerKey"
  [isTrailerModalOpen]="isTrailerModalOpen"
  (close)="isTrailerModalOpen = false"
>
</app-trailer-modal>
