<div
  class="card-container"
  [ngClass]="{ horizontal: isHorizontal, recommendation: isRecommendation }"
  [style.min-height]="!isHorizontal ? '480px' : '300px'"
>
  <div
    class="img-container"
    (click)="isHorizontal && onClickGetTrailer(movie.id)"
  >
    <img
      class="movie-img"
      src="{{ !isHorizontal ? movie.poster_path : movie.backdrop_path }}"
      alt=""
    />
    <div
      *ngIf="!isHorizontal && !isRecommendation"
      class="rating-percent-container"
    >
      <div class="outer-ring"></div>
      <div class="rating-percent">{{ movie.vote_average }}</div>
    </div>
    <div *ngIf="!isRecommendation" class="option-icon">
      <img src="assets/icons/horizon-menu.svg" alt="" />
    </div>
    <div *ngIf="isHorizontal" class="play-btn">
      <img src="assets/icons/play.svg" alt="" />
    </div>
    <div *ngIf="isRecommendation" class="recommendation-info"></div>
  </div>
  <div class="movie-info">
    <p class="movie-info__name">{{ movie.title }}</p>
    <p class="movie-info__date">{{ movie.release_date }}</p>
  </div>
</div>
<app-trailer-modal
  [trailerKey]="trailerKey"
  [isTrailerModalOpen]="isTrailerModalOpen"
  (close)="isTrailerModalOpen = false"
>
</app-trailer-modal>
