<div
  class="card-container"
  [ngClass]="cardType"
  [style.min-height]="
    cardType != 'trailer' && cardType != 'recommendation' ? '480px' : '300px'
  "
  (click)="
    cardType === 'default' || cardType === 'recommendation'
      ? navigate(movie.id)
      : null
  "
>
  <div
    class="img-container"
    (click)="cardType === 'trailer' && onClickGetTrailer(movie.id)"
  >
    <img class="movie-img" [src]="imagePath" alt="" />
    <div *ngIf="cardType === 'default'" class="rating-percent-container">
      <div class="outer-ring"></div>
      <div class="rating-percent">{{ movie.vote_average }}</div>
    </div>
    <div
      *ngIf="cardType === 'trailer' || cardType === 'default'"
      class="option-icon"
    >
      <img src="assets/icons/horizon-menu.svg" alt="" />
    </div>
    <div *ngIf="cardType === 'trailer'" class="play-btn">
      <img src="assets/icons/play.svg" alt="" />
    </div>
    <div *ngIf="cardType === 'recommendation'" class="recommendation-info">
      <p>
        <img src="assets/icons/calendar.svg" alt="" />{{ movie.release_date }}
      </p>
    </div>
  </div>
  <div class="movie-info">
    <p class="movie-info__name">
      {{ cardType !== "cast" ? movie.title : movie.name }}
    </p>
    <p *ngIf="cardType === 'cast'" class="character-name">
      {{ movie.character }}
    </p>
    <p class="movie-info__date">{{ movie.release_date }}</p>
  </div>
</div>
<app-trailer-modal
  [trailerKey]="trailerKey"
  [isTrailerModalOpen]="isTrailerModalOpen"
  (close)="isTrailerModalOpen = false"
>
</app-trailer-modal>
