@use "../../../../assets/styles/abtracts/mixin" as *;
@use "../../../../assets/styles/base/variables" as *;
.header-container {
  @include flexbox($justify: center);
  width: 100vw;
}

.header {
  //   background-color: #000;
  @include flexbox($justify: space-between);
  padding: 2.4rem 0;
  z-index: 99999;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: $maxw-xl;
  transition: transform 0.3s ease;

  &__menu {
    border-radius: 1.2rem;
    border: 4px solid $black-12;
    background: $black-06;
    padding: 1rem;
  }
  .menu-container {
    @include flexbox($gap: 3rem);
    @include text-style($fweight: 400);

    .menu-item {
      padding: 1.4rem 0;
      position: relative;
      a {
        padding: 1.4rem 2.4rem;
      }

      &:hover .sub-menu {
        display: block;
      }
      .sub-menu {
        display: none;
        position: absolute;
        top: 5rem;
        width: 16rem;
        border-radius: 0.8rem;
        background: $black-30;
        ul {
          li {
            padding: 0.6rem 0;
            &:hover {
              background: $black-10;
            }
            a {
              @include text-style($fsize: 1.4rem, $color: $absolute-white);
            }
          }
        }
      }
    }
  }

  &__icon {
    @include flexbox($gap: 3rem);
    position: relative;
    .header__search-icon {
      cursor: pointer;
      .header__search-box {
        bottom: -7rem;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        @include flexbox($gap: 1rem);
        border: 0.1rem solid $grey-65;
        padding: 1rem;
        border-radius: 2rem;
      }
      input {
        padding: 6px 10px;
        font-size: 14px;
        border-radius: 4px;
        border: none;
        outline: none;
        background: transparent;
        @include text-style();
      }
    }
    .header__profile-icon {
      position: relative;
      .profile-menu {
        position: absolute;
        top: 3.5rem;
        left: 50%;
        transform: translateX(-50%);
        width: 16rem;
        border-radius: 0.8rem;
        background: $black-30;
        // padding: 2rem;
        display: none;
        .profile {
          padding: 1rem 2rem;
          cursor: pointer;
          @include text-style(
            $fsize: 1.4rem,
            $color: $absolute-white,
            $fweight: 700
          );
          .view-profile-btn {
            @include text-style($fsize: 1.4rem, $color: $grey-65);
          }
        }
        ul {
          li {
            padding: 1rem 2rem;
            &:hover {
              background: $black-10;
            }
            a {
              @include text-style($fsize: 1.4rem, $color: $absolute-white);
            }
          }
        }
      }
      img {
        width: 3.4rem;
        height: 3.4rem;
      }
      &:hover .profile-menu {
        display: block;
      }
    }
  }
}
.hide {
  transform: translateY(-100%);
}
