<div class="film-detail-container">
  <div class="header">
    <div class="header-wrapper">
      <div class="movie-poster">
        <img src="" alt="" />
      </div>
      <div class="movie-info">
        <div class="info-header">
          <h1 class="movie-name">
            Name<span class="release-year">(2025)</span>
          </h1>
          <div class="type">
            <p class="movie-type">Drama</p>
          </div>
        </div>
        <div class="score-wrapper"></div>
        <div class="option-wrapper"></div>
        <div class="text-container">
          <p class="tag-line"></p>
          <h2 class="overview">Overview</h2>
          <p class="overview-content"></p>
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    
  </div>
</div>
