<div class="detail-container">
  <div
    class="header-container"
    [style.backgroundImage]="
      detail?.backdrop_path ? 'url(' + detail.backdrop_path + ')' : ''
    "
  >
    <div class="header" [ngStyle]="{ backgroundImage: backdropGradient }">
      <div class="header__wrapper">
        <div class="movie-poster">
          <img src="{{ detail?.poster_path }}" alt="" />
        </div>
        <div class="movie-info">
          <div class="info-header">
            <h1 class="movie-name">
              {{ detail?.title
              }}<span class="release-year"
                >({{ detail?.release_date?.slice(0, 4) }})</span
              >
            </h1>
            <div class="type">
              <p class="movie-type">
                {{ genreNames }}
              </p>
            </div>
          </div>
          <div class="score-wrapper">
            <div class="icon-wrapper">
              <div class="score-icon"></div>
              <div class="score-heading">
                User <br />
                Score
              </div>
            </div>
            <div class="score-btn">What is your <span>Vibe</span> ?</div>
          </div>
          <div class="option-wrapper">
            <ul>
              <li class="option-btn">
                <a href=""><img src="assets/icons/plus.svg" alt="" /></a>
              </li>
              <li class="option-btn">
                <a href=""><img src="assets/icons/plus.svg" alt="" /></a>
              </li>
              <li class="option-btn">
                <a href=""><img src="assets/icons/plus.svg" alt="" /></a>
              </li>
              <li class="play-btn">
                <a (click)="onClickGetTrailer(detail.id)"
                  ><img src="assets/icons/mini-play.svg" alt="" /> Play
                  trailer</a
                >
              </li>
            </ul>
          </div>
          <div class="text-container">
            <p class="tag-line">{{ detail?.tagline }}</p>
            <h2 class="overview">Overview</h2>
            <p class="overview-content">{{ detail?.overview }}</p>
          </div>
          <div class="creator-container"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="content-container">
    <div class="content">
      <div class="content__main">
        <app-page-section
          *ngFor="let section of detailSection"
          [section]="section"
        ></app-page-section>
        <!-- <div class="cast-container"></div>
        <div class="season-container"></div>
        <div class="social"></div>
        <div class="media"></div>
        <div class="recommendation"></div> -->
      </div>
      <div class="sub__content"></div>
    </div>
  </div>
</div>
<app-trailer-modal
  [trailerKey]="trailerKey"
  [isTrailerModalOpen]="isTrailerModalOpen"
  (close)="isTrailerModalOpen = false"
>
</app-trailer-modal>
