<div class="banner-container">
  <div class="banner-img">
    <img class="cover-img" src="assets/images/headerbg.png" alt="" />
  </div>
  <div class="sub-container">
    <h1 class="banner-title">Welcome.</h1>
    <h3 class="sub-title">
      Millions of movies, TV shows and people to discover. Explore now.
    </h3>
    <button class="btn">
      <img src="./assets/icons/play.svg" alt="" />
      <p>Start Watching Now</p>
    </button>
  </div>
</div>
<div class="home-content-container">
  <div class="home-content">
    <app-page-section
      *ngFor="let section of homeSection"
      [section]="section"
    ></app-page-section>
    <div class="section">
      <div class="section-heading leaderboard-heading">
        <div class="section-heading__text">
          <h2>Leaderboard</h2>
        </div>
        <div class="leaderboard-note">
          <div class="all-time leaderboard-note-container">
            <span class="all-time-dot"></span>
            <p>All time edits</p>
          </div>
          <div class="week leaderboard-note-container">
            <span class="week-dot"></span>
            <p>Edits This Week</p>
          </div>
        </div>
      </div>
      <div class="editor-grid">
        <ng-container *ngFor="let editor of leaderBoardData">
          <app-user-leaderboard-item
            [editorName]="editor.username"
            [weekValue]="editor.weeklyEdits"
            [allTimeValue]="editor.allTimeEdits"
          ></app-user-leaderboard-item>
        </ng-container>
      </div>
    </div>
  </div>
</div>
