<div class="big-film-card">
  <div class="poster">
    <img [src]="film.poster_path" alt="poster" />
  </div>

  <div class="info">
    <div class="header">
      <app-movie-rating-circle
        [score]="film.vote_average"
      ></app-movie-rating-circle>
      <div class="titles" (click)="navigate()">
        <h2>{{ type === "movie" ? film.title : film.name }}</h2>
        <p class="release-date">{{ film.release_date | date : "longDate" }}</p>
      </div>
    </div>

    <p class="overview">{{ film.overview }}</p>

    <div class="actions">
      <div class="action-item">
        <a><img src="assets/icons/heart-fill.svg" /></a>
      </div>
      <!-- <div class="action-item">
        <a><img src="assets/icons/watch-list-white.svg" /> </a>
      </div> -->
      <div class="action-item" (click)="removeFavorite()">
        <a><img src="assets/icons/close.svg" /> </a>
      </div>
    </div>
  </div>
</div>
