<form [formGroup]="filterForm" class="filter-container">
  <div *ngFor="let section of filterSections" class="section">
    <div class="section-name">
      <p>{{ section.title }}</p>
      <img
        class="section-toggle"
        (click)="toggleSection(section)"
        [class.rotate]="section.isOpen"
        [src]="section.icon"
        alt=""
      />
    </div>

    <ng-container *ngIf="section.isOpen">
      <div class="section-content" *ngFor="let item of section.content">
        <p class="sub-name">{{ item.label }}</p>

        <ng-container [ngSwitch]="item.type">
          <app-input-select
            *ngSwitchCase="'select'"
            [item]="item"
            [group]="filterForm"
          ></app-input-select>

          <app-input-radio
            *ngSwitchCase="'radio'"
            [item]="item"
            [group]="filterForm"
          ></app-input-radio>

          <app-input-date-range
            *ngSwitchCase="'date-range'"
            [item]="item"
            [group]="filterForm"
          ></app-input-date-range>

          <app-input-multi-select
            *ngSwitchCase="'multi-select'"
            [item]="item"
            [group]="filterForm"
            (genreToggled)="toggleGenre($event.name, $event.value)"
          ></app-input-multi-select>

          <app-input-text
            *ngSwitchCase="'input'"
            [item]="item"
            [group]="filterForm"
          ></app-input-text>
        </ng-container>
      </div>
    </ng-container>
  </div>

  <div (click)="onSearch()" class="search-btn">Search</div>
</form>
