<form [formGroup]="filterForm" class="filter-container">
  <div *ngFor="let section of filterSections" class="section">
    <div class="section-name">
      <p>{{ section.title }}</p>
      <img
        class="section-toggle"
        (click)="toggleSection(section)"
        [class.rotate]="section.isOpen"
        [src]="section.icon"
        alt=""
      />
    </div>
    <ng-container *ngIf="section.isOpen">
      <div class="section-content" *ngFor="let item of section.content">
        <p class="sub-name">{{ item.label }}</p>

        <ng-container *ngIf="item.type === 'select'">
          <select [formControlName]="item.name">
            <option *ngFor="let opt of item.options">{{ opt.label }}</option>
          </select>
        </ng-container>

        <ng-container *ngIf="item.type === 'radio'">
          <label *ngFor="let opt of item.options">
            <input
              [formControlName]="item.name"
              type="radio"
              [name]="item.name"
            />
            {{ opt.label }}
          </label>
        </ng-container>

        <ng-container *ngIf="item.type === 'date-range'">
          <div [formGroupName]="item.name">
            <label>
              <input type="checkbox" formControlName="searchAll" />
              Search all releases?
            </label>
            <div class="date-container">
              <label>From</label>
              <input type="date" formControlName="from" />
            </div>
            <div class="date-container">
              <label>To</label>
              <input type="date" formControlName="to" />
            </div>
          </div>
        </ng-container>

        <ng-container *ngIf="item.type === 'multi-select'">
          <div class="genre-btns">
            <button
              *ngFor="let genre of item.options"
              class="genre-btn"
              (click)="toggleGenre(item.name, genre.value)"
              [class.active]="
                filterForm.get(item.name)?.value.includes(genre.value)
              "
            >
              {{ genre.label }}
            </button>
          </div>
        </ng-container>
        <ng-container *ngIf="item.type === 'input'">
          <div class="input-container">
            <input
              [formControlName]="item.name"
              type="text"
              placeholder="Search..."
            />
          </div>
        </ng-container>
      </div>
    </ng-container>
  </div>
  <div (click)="onSearch()" class="search-btn">Search</div>
</form>
