<div class="container">
  <app-header></app-header>
  <div class="content-wrapper">
    <div class="user-info-header">
      <div class="container-header">
        <div class="user-info-img">
          <img src="assets/images/thumbnail.jpg" alt="" />
        </div>
        <div class="user-info-text">
          <h3 class="user-name">{{ profile.username }}</h3>
        </div>
      </div>
    </div>
    <div class="outlet-container">
      <router-outlet></router-outlet>
    </div>
  </div>
  <app-footer></app-footer>
  <app-action-feedback></app-action-feedback>
</div>
