@use "../../../../assets/styles/abtracts/mixin" as *;
@use "../../../../assets/styles/base/variables" as *;

.sidebar {
  width: 100%;
  padding: 5rem 0;
  @include flexbox($direction: column, $align: flex-start, $gap: 3rem);
  .social-icons {
    @include flexbox($direction: row, $align: center, $gap: 2rem);
    a {
      @include text-style($fsize: 1.4rem, $fweight: 600);
      color: $absolute-white;
      img {
        width: 3rem;
        height: 3rem;
      }
      &:hover {
        color: $grey-60;
      }
    }
  }
  .info-item {
    .label {
      @include text-style($fsize: 1.6rem, $fweight: 600);
      color: $absolute-white;
      margin-bottom: 0.8rem;
    }
    p {
      @include text-style($fsize: 1.4rem, $fweight: 400);
      color: $absolute-white;
    }
  }
  .label {
    @include text-style($fsize: 1.6rem, $fweight: 600);
    color: $absolute-white;
    margin-bottom: 0.8rem;
  }
  .keyword-container {
    @include flexbox($gap: 0.6rem);
    flex-wrap: wrap;
    margin-top: 0.8rem;
    .keyword-tag {
      padding: 0.4rem 1rem;
      @include text-style($fsize: 1.2rem, $fweight: 400);
      background-color: $grey-60;
      border-radius: 0.4rem;
      cursor: pointer;
    }
  }
}
