<div class="review-container">
  <div class="review-header">
    <div class="reviewer-img">
      <a href=""><img src="{{ avt }}" alt="" /></a>
    </div>
    <div class="reviewer-info">
      <p
        class="write-by"
        (click)="navigate()"
        [style.cursor]="type === 'default' ? 'pointer' : 'auto'"
      >
        A review by
        {{
          reviewData.author_details.name
            ? reviewData.author_details.name
            : reviewData.author
        }}
      </p>
      <div class="sub-info">
        <span class="rating"
          ><img src="assets/icons/star.svg" alt="" />{{ rating }} %
        </span>
        <p>
          written by
          {{
            reviewData.author_details.name
              ? reviewData.author_details.name
              : reviewData.author
          }}
        </p>
        <span>on {{ reviewData.created_at | date : "short" }}</span>
      </div>
    </div>
  </div>
  <div class="review-content" [class.default]="type === 'default'">
    <p>{{ reviewData.content }}</p>
  </div>
</div>
