<div class="content">
  <div class="cast-cotainer">
    <h2 class="cast-title title">
      Cast <span>{{ result?.cast?.length }}</span>
    </h2>
    <div class="cast-list list">
      <ng-container *ngIf="result?.cast?.length; else noCast">
        <ng-container *ngFor="let cast of result?.cast">
          <div class="cast-item" [routerLink]="['/person', cast.id]">
            <img [src]="cast.profile_path" alt="{{ cast.name }}" />
            <div class="cast-info">
              <p class="cast-name">{{ cast.name }}</p>
              <p class="cast-character cast-sub">{{ cast.character }}</p>
            </div>
          </div>
        </ng-container>
      </ng-container>
      <ng-template #noCast>
        <p>No cast information available.</p>
      </ng-template>
    </div>
  </div>
  <div class="crew-cotainer">
    <h2 class="cast-title title">
      Crew <span>{{ result?.crew?.length }}</span>
    </h2>
    <div class="crew-list list">
      <ng-container *ngIf="result?.crew?.length; else noCast">
        <ng-container *ngFor="let crew of result?.crew">
          <div class="cast-item">
            <img [src]="crew.profile_path" alt="{{ crew.name }}" />
            <div class="cast-info">
              <p class="cast-name">{{ crew.name }}</p>
              <p class="cast-character cast-sub">{{ crew.department }}</p>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
