@use "../../../../../assets/styles/abtracts/mixin" as *;
@use "../../../../../assets/styles/base/variables" as *;
.movie-list-container {
  padding-top: 14rem;
  width: 100%;
  max-width: $maxw-xl;
  margin: auto;
  .header {
    @include text-style(
      $fsize: $heading-h4,
      $fweight: 600,
      $color: $absolute-white
    );
    margin-bottom: 2rem;
  }
  .content {
    @include flexbox($gap: 2rem, $align: flex-start);
    .filter-bar-container {
      width: 25%;
    }
    .movie-list {
      width: 100%;
    }
  }
}
