@use "../../../../assets/styles/abtracts/mixin" as *;
@use "../../../../assets/styles/base/variables" as *;

.big-film-card {
  @include flexbox($gap: 2rem); //   background: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  // padding: 1rem;
  border: 1px solid $grey-65;
  .poster {
    flex-shrink: 0;
    img {
      width: 120px;
      height: 180px;
      object-fit: cover;
      border-radius: 4px;
    }
  }

  .info {
    flex-grow: 1;
    // margin-left: 1rem;

    .header {
      display: flex;
      align-items: center;
      margin-bottom: 0.5rem;
      gap: 1.6rem;

      .titles {
        cursor: pointer;
        h2 {
          margin: 0;
        }

        .release-date {
          color: #888;
          font-size: 0.9rem;
        }
      }
    }

    .overview {
      margin-bottom: 1rem;
    }

    .actions {
      display: flex;
      gap: 1rem;
      .action-item {
        padding: 1rem;
        @include flexbox($gap: 2rem);
        border: 0.1rem solid $grey-65;
        border-radius: 50%;
        cursor: pointer;
        a {
          @include flexbox();
          img {
            width: 2rem;
            height: 2rem;
          }
        }
      }
    }
  }
}
