<ng-container *ngIf="filmList$ | async as movieList">
  <div class="movie-list-container">
    <p class="header">{{ title }}</p>
    <div class="content">
      <div class="filter-bar-container">
        <app-filter-bar
          [mediaType]="'movie'"
          (searchResult)="handleSearchResult($event)"
        ></app-filter-bar>
      </div>
      <div class="movie-list">
        <div class="film-list">
          <ng-container *ngFor="let movie of movieList.data">
            <app-film-card
              [cardType]="'default'"
              [movie]="movie"
              [isMenuOpen]="selectedMenuCardId === movie.id"
              (openMenu)="handleOpenMenu(movie.id)"
            ></app-film-card>
          </ng-container>
        </div>

        <app-pagination
          [currentPage]="currentPage"
          [totalPages]="totalPages"
          (pageChange)="paginate($event)"
          (prev)="prevPage()"
          (next)="nextPage(movieList.totalPages)"
        ></app-pagination>
      </div>
    </div>
  </div>
</ng-container>
