@use "../../../../../assets/styles/abtracts/mixin" as *;
@use "../../../../../assets/styles/base/variables" as *;
.header-container {
  @include flexbox($justify: center);
  width: 100vw;
}

.header {
  //   background-color: #000;
  @include flexbox($justify: space-between);
  padding: 2.4rem 0;
  z-index: 99999;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: $maxw-xl;
  transition: transform 0.3s ease;

  &__menu {
    border-radius: 1.2rem;
    border: 4px solid $black-12;
    background: $black-06;
    padding: 1rem;
  }
  .menu-container {
    @include flexbox($gap: 3rem);
    @include text-style($fweight: 400);

    .menu-item {
      padding: 1.4rem 0;
      position: relative;
      a {
        padding: 1.4rem 2.4rem;
      }
      // &--active {
      //   @include text-style($color: #fff, $fweight: 500);
      //   border-radius: 0.8rem;
      //   border: 1px solid $black-10;
      //   background: $black-10;
      // }
      // &:hover {
      //   @include text-style($color: #fff, $fweight: 500);
      //   border-radius: 0.8rem;
      //   // border: 1px solid $black-10;
      //   background: $black-10;
      // }
      &:hover .sub-menu {
        display: block;
      }
      .sub-menu {
        display: none;
        position: absolute;
        top: 5rem;
        width: 16rem;
        border-radius: 0.8rem;
        background: $black-30;
        ul {
          li {
            padding: 0.6rem 0;
            &:hover {
              background: $black-10;
            }
            a {
              @include text-style($fsize: 1.4rem, $color: $absolute-white);
            }
          }
        }
      }
    }
  }

  &__icon {
    @include flexbox($gap: 3rem);
  }
}
.hide {
  transform: translateY(-100%);
}
