<div class="header-container">
  <div class="header">
    <div class="header__logo">
      <img src="./assets/images/Logo.png" alt="" />
    </div>
    <div class="header__menu">
      <ul class="menu-container">
        <li class="menu-item menu-item--active"><a href="">Movie</a></li>
        <li class="menu-item"><a href="">TV Show</a></li>
        <li class="menu-item"><a href="">People</a></li>
        <li class="menu-item"><a href="">More</a></li>
      </ul>
    </div>
    <div class="header__icon">
      <div class="header__search-icon">
        <img src="./assets/icons/search.svg" alt="" />
      </div>
      <div class="header__search-icon">
        <img src="./assets/icons/notification.svg" alt="" />
      </div>
    </div>
  </div>
</div>
