@use "../../../../assets/styles/abtracts/mixin" as *;
@use "../../../../assets/styles/base/variables" as *;

.movie-info {
  padding: 2rem 0rem;
  @include flexbox($gap: 2rem, $justify: center);
  width: 100%;
  margin-bottom: 2rem;
  .info-content {
    max-width: $maxw-xl;
    width: 100%;
    @include flexbox($gap: 2rem, $align: center);
    img {
      width: 8rem;
      height: auto;
    }
    .info-text {
      .movie-name {
        @include text-style(
          $fsize: $heading-h3,
          $fweight: 800,
          $color: $absolute-white
        );
        span {
          @include text-style(
            $fsize: $heading-h4,
            $fweight: 600,
            $color: $grey-65
          );
        }
        margin-bottom: 2rem;
      }
      .nav {
        @include flexbox($gap: 0.8rem, $align: center);

        color: $absolute-white;
        border: 0;
        img {
          width: 1.6rem;
          height: 1.6rem;
        }
        p {
          @include text-style($fsize: 1.6rem, $fweight: 600, $color: $grey-65);
        }
      }
    }
  }
}
