/* You can add global styles to this file, and also import other style files */
@use "assets/styles/base/variables" as *;
@use "assets/styles/components/button" as *;
// @use "assets/styles/abstracts/mixin" as *;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: $font-family-base;
  color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}
